{% extends 'base.html' %}

{% load static %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="container">
        <div class="row">
            {% include 'includes/sidebar.html' %}

            <div class="col-sm-12 col-md-8 col-lg-9 mt-3 mb-3">
                <h1>Update Shop</h1>
                {% if form.errors %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger alert-dismissable">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <form class="login" method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}

                    <button class="btn btn-primary" type="submit">Update</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}