{% extends 'base.html' %}

{% load static %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
{% endblock %}

{% block head_title %}Dashboard{% endblock %}

{% block content %}

    <div id="content" class="section-padding">
        <div class="container">
            <div class="row">
                {% include 'includes/sidebar.html' %}

                <div class="col-sm-12 col-md-8 col-lg-9">
                    <div class="page-content">
                        {% if orders.count > 0 %}
                            <div class="inner-box">
                                <div class="dashboard-box">
                                    <h2 class="dashbord-title">Dashboard</h2>
                                </div>
                                <div class="dashboard-wrapper">
                                    <div class="dashboard-sections">
                                        <div class="row">
                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                                                <div class="dashboardbox">
                                                    <div class="icon"><i class="lni-write"></i></div>
                                                    <div class="contentbox">
                                                        <h2><a href="#">Total Orders</a></h2>
                                                        <h3>{{ orders.count }} Orders</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <table style="display: table"
                                           class="table table-responsive dashboardtable tablemyads">
                                        <thead>
                                        <tr>
                                            <th>Total Price</th>
                                            <th>Total Items</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for order in orders %}
                                            <tr>
                                                <td data-title="Price">
                                                    <h3>{{ order.get_total }}</h3>
                                                </td>
                                                <td data-title="Items">
                                                    <span class="adcategories">{{ order.items.count }} Items</span>
                                                </td>
                                                <td data-title="Action">
                                                    <div class="btns-actions">
                                                        <a class="btn-action btn-view"
                                                           href="{{ order.get_absolute_url }}">
                                                            <i class="lni-paperclip"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% else %}
                            <h2 class="text-center">You don't have any Orders</h2>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
